.tokenomics {
    padding-top: 200px;
}

.title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 1.3em;
    text-transform: uppercase;
    text-shadow: 2px 4px 0px #7100FF, 2px 4px 4px rgba(183,126,255, 0.6);
}

.info {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.infoImg {
    width: 85%;
    max-width: 1290px;
    max-height: 830px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

@media (max-width: 767px) {
    .tokenomics {
        padding-top: 120px;
    }

    .title {
        font-size: 30px;
        text-shadow:  1px 2px 0px #7100FF, 1px 2px 2px rgba(183,126,255, 0.6);
    }

    .info {
        margin-top: 35px;
    }

    .infoImg {
        max-width: 450px;
        max-height: 450px;
    }
}

@media (max-width: 479px) {
    .title {
        font-size: 24px;
    }
}
